@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  margin: 0;             /* reset margins */
  padding: 0;            /* reset padding */
  display: block;        /* ensure block display */
}

section + section {
  margin-top: 0;       

body {
  margin: 0;
  padding: 0;
  line-height: 1;
}

.hero,
.testimonial-section,
.what-we-do {
  margin: 0 !important;
  border: none;
  outline: none;
}
}